<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devdroid.sleepassistant">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".application.TheApplication"
        android:allowBackup="true"
        android:icon="@drawable/zhuopin_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="channel"
            android:value="${COM_DEVDROID_CHANNEL_VALUE}" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity"
            android:label="@string/nav_string_about"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.FeedbackActivity"
            android:label="@string/nav_string_feedback"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ChartActivity"
            android:label="@string/nav_string_chart"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.RestrictionActivity"
            android:label="@string/nav_string_restriction"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:launchMode="singleTask"/>
    </application>

</manifest>